<h1> Contact </h1>

<div class="container">
  <div class="row align-items-center">
    <div class="col-5 order-first">
      <p><%=  %></p>
      <br>
      <h5 class="card-text"> Prix de la photo: <%=  %>€</h5>
    </div>
    <div class="col-7">
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</div>

<h1> Les fondateurs </h1>