<div class="jumbotron" style="background-image: url(https://images.unsplash.com/photo-1581538112764-26a369ba31b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80); background-size: 100%;">
  <img>
  <h1 class="display-3 text-white">Des chatons mignons, pour tous</h1>
  <p class="lead text-white">ZeKittenProject vous permet d'acheter des photos de chatons adorables en haute-définiton </p>
</div>