<div class="jumbotron" style="background-image: url(https://icatcare.org/app/uploads/2019/09/The-Kitten-Checklist-1.png); background-size: 100%;">
  <img>
  <h1 class="display-3">Des chatons mignons, pour tous</h1>
  <p class="lead text-primary">ZeKittenProject vous permet d'acheter des photos de chatons adorables en haute-définiton </p>
</div>