<div class="jumbotron" style="background-image: url(https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-size: 100%;">
  <img>
  <h1 class="display-3">Des chatons mignons, pour tous</h1>
  <p class="lead text-primary">ZeKittenProject vous permet d'acheter des photos de chatons adorables en haute-définiton </p>
</div>